[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
click = "==7.0"
prompt_toolkit = "==2.0.10"
fuzzyfinder = "*"
python-socketio = {extras = ["client"],version = "*"}
pygments = "*"
halo = "*"
websockets = "*"
asyncio = "*"

[requires]
python_version = "3.7"
